<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 form-group">
                <h1>{{layoutTitle}}</h1>
            </div>
        </div>
        <div class="row">
            {{{body}}}
        </div>
    </div>
    <script src="/static/js/jquery.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" charset="utf-8"></script>
</body>
</html>